In [4]:
import pandas as pd
fp ="./data/sba_7a_loans.csv"
df = pd.read_csv(fp)

/var/folders/fb/t_m5qpcj6qq85rvkh73vbxh40000gn/T/ipykernel_7277/3960497281.py:3: DtypeWarning: Columns (34,35,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fp)

In [22]:
include_loan_status = df.LoanStatus != "COMMIT"
df = df[include_loan_status]

In [25]:
df.shape

(193316, 40)

In [41]:
dfnc = df.groupby("NaicsCode")["LoanStatus"].value_counts().reset_index()
dfnc["NaicsCode"] = dfnc.NaicsCode.astype(int)
dfnc["percentage"] = (100 * dfnc["count"]  / dfnc.groupby('NaicsCode')['count'].transform('sum')).round(2)

      NaicsCode LoanStatus  count  percentage
0        111110     CANCLD     16       44.44
1        111110     EXEMPT     14       38.89
2        111110        PIF      6       16.67
3        111120     CANCLD      1       33.33
4        111120     EXEMPT      1       33.33
...         ...        ...    ...         ...
3068     926120     CANCLD      2      100.00
3069     926130     EXEMPT      2       66.67
3070     926130        PIF      1       33.33
3071     926150     EXEMPT      1      100.00
3072     928110     EXEMPT      1      100.00

[3073 rows x 4 columns]

In [43]:
dfs = df.groupby("BorrState")["LoanStatus"].value_counts().reset_index()
dfs["percentage"] = (100 * dfs["count"]  / dfs.groupby('BorrState')['count'].transform('sum')).round(2)
dfs

    BorrState LoanStatus  count  percentage
0          AK     EXEMPT    302       80.53
1          AK     CANCLD     42       11.20
2          AK        PIF     31        8.27
3          AL     EXEMPT   1046       79.85
4          AL     CANCLD    133       10.15
..        ...        ...    ...         ...
205        WV     CANCLD     66        9.59
206        WY     EXEMPT    244       71.55
207        WY        PIF     65       19.06
208        WY     CANCLD     29        8.50
209        WY     CHGOFF      3        0.88

[210 rows x 4 columns]